<div class="group-detail mt-4">
  <div class="row">
    <div class="col-md-6 brackets-detail-background">
      <strong class="text-uppercase">Group <%= idx + 1 %> Ranking</strong>
      <div class="group">
        <div class="group-detail__index mt-3">
          <div class="row">
            <div class="col-md-2 text-center pr-0">#</div>
            <div class="col-md-2">Players</div>
            <div class="col-md-6"></div>
            <div class="col-md-2 text-center pl-0">Pts</div>
          </div>
        </div>
        <div class="group-detail__contents mt-3">
          <div class="container">
            <div class="row">
              <div class="col-md-2 group-detail__block">
                <div class="py-3 "><span class="py-3 big-font yellow">1</span>st</div>
              </div>
              <div class="col-md-10 py-2 flex-direction flex-center">
                <div class="full-width flex-center">
                  <%= image_tag("home/friend.png", :width=>40) %>
                  <div class="mx-auto">
                    <div><strong>Nickname</strong></div>
                    <div class="small-font">
                      <span>Wins: <span class="green"><b>2</b></span></span>
                      <span>Draws: <b>0 </b></span>
                      <span>Losses: <span class="red"><b>1</b></span></span>
                    </div>
                  </div>
                  <span class="big-font"><strong>6</strong></span>
                </div>
                
                <div id="collapseOne" class="collapse full-width mt-3">
                  <div class="score-block">
                    <div class="row">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="red"><strong>6</strong></span>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="green"><strong>6</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="score-block">
                    <div class="row">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="red"><strong>6</strong></span>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="green"><strong>6</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-center">
            <button type="button" class="accordion-btn flex-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-chevron-down"></i>
            </button>
          </div>
        </div>
        <div class="group-detail__contents mt-3">
          <div class="container">
            <div class="row">
              <div class="col-md-2 group-detail__block">
                <div class="py-3 "><span class="py-3 big-font yellow">1</span>st</div>
              </div>
              <div class="col-md-10 py-2 flex-direction flex-center">
                <div class="full-width flex-center">
                  <%= image_tag("home/friend.png", :width=>40) %>
                  <div class="mx-auto">
                    <div><strong>Nickname</strong></div>
                    <div class="small-font">
                      <span>Wins: <span class="green"><b>2</b></span></span>
                      <span>Draws: <b>0 </b></span>
                      <span>Losses: <span class="red"><b>1</b></span></span>
                    </div>
                  </div>
                  <span class="big-font"><strong>6</strong></span>
                </div>
                <div id="collapseTwo" class="collapse full-width mt-3">
                  <div class="score-block">
                    <div class="row">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="red"><strong>6</strong></span>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="green"><strong>6</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="score-block">
                    <div class="row">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="red"><strong>6</strong></span>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-2 flex-center">
                        <%= image_tag("home/friend.png", :width=>30) %>
                      </div>
                      <div class="col-md-8 flex-align-center">
                        <div class="small-font">
                          <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                        </div>
                      </div>
                      <div class="col-md-2 small-font score">
                        <span class="green"><strong>6</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-center">
            <button type="button" class="accordion-btn flex-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-chevron-down"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="round mt-3">
        <div class="text-uppercase mb-2"><strong>Group <%= idx + 1 %> All Results</strong></div>
        <strong>Round 1</strong>
        <a href="<%= tournament_round_path(@tournament, tm[:id]) %>">
          <div class="score-block mt-3">
            <div class="row">
              <div class="col-md-2 flex-center">
                <%= image_tag("home/friend.png", :width=>30) %>
              </div>
              <div class="col-md-8 flex-align-center">
                <div class="small-font">
                  <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                </div>
              </div>
              <div class="col-md-2 small-font score">
                <span class="red"><strong>6</strong></span>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-md-2 flex-center">
                <%= image_tag("home/friend.png", :width=>30) %>
              </div>
              <div class="col-md-8 flex-align-center">
                <div class="small-font">
                  <span class="blue"><b>Tim Muller</b></span> | Fc Barcelona
                </div>
              </div>
              <div class="col-md-2 small-font score">
                <span class="green"><strong>6</strong></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>