<div class="game-detail-overview mt-4">
  <%= render partial: 'tournaments/desktop/cash_blocks' %>
  <div class="game-detail-overview__text blue">
    <div class="mt-3">
      <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.description').capitalize %></b></div>
      <% if @tournament.description.present? %>
        <% if rules_description(@tournament.description).present? %> 
          <span><%= rules_description(@tournament.description) %> </span>
        <% end %>
      <% end %>
    </div>
    <!-- <div class="mt-3" style="display: none">
      <div class="mb-1 overview-title"><b>Schedule</b></div>
      <#% if @tournament.rounds.present? %>
        <#% @tournament.rounds.each do |round| %>
          <#% if round_schedule_time(round).present? %>
            <div>The <#%= round.name %> will start at <#%= round_schedule_time(round) %></div>
          <#% end %>
        <#% end %>
      <#% end %>
    </div>-->
    <div class="structure blue mt-3"  style="display: none">
      <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.structure').capitalize %></b></div>
      <div class="rectangle-border">
        <div class="mb-1 game-detail-overview__text"><b>1 / Playoffs</b></div>
        <span class="game-detail-overview__text">Single Elimination</span><br>
        <span class="game-detail-overview__text">128 Players</span>
      </div>
      <div class="rectangle-border mt-2">
        <div class="mb-1 game-detail-overview__text"><b>2 / Groups</b></div>
        <span class="game-detail-overview__text">Round Robin Groups</span><br>
        <span class="game-detail-overview__text">4 Players | 1 Group</span>
      </div>
    </div>
    <div class="mt-3">
      <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.contact').capitalize %></b></div>
      <a href="https://discord.com/invite/VCTRY" target="_blank">
        <%= image_tag('tournament/discord.png', :alt=>"discord") %>
      </a>
    </div>
    <% if @tournament.prize.present? %>
      <div class="mt-3">
        <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.prize').capitalize %></b></div>
        <% prize_list(@tournament.prize).each_with_index do |pz, idx| %>
          <% if session[:locale] == 'de' %>
            <div><%= idx + 1 %>. <%= number_with_precision(pz, precision: 2).gsub(".", ",") %> €</div>
          <% else %>
            <div><%= idx + 1 %>. <%= number_with_precision(pz, precision: 2).gsub(",", ".") %> €</div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-3">
      <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.rules').capitalize %></b></div>
      <% if @tournament.rules.present? %>
        <% if rules_description(@tournament.rules).present? %> 
          <span><%= rules_description(@tournament.rules) %> </span>
        <% end %>
      <% end %>
    </div>

    <% if @tournament.youtube.present? %>
      <div class="mt-3">
        <div class="mb-1 overview-title"><b><%= I18n.t('tournaments.titles.video').capitalize %></b></div>
        <iframe width="70%" height="250" src="<%= @tournament.youtube %>" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <% if check_social(@tournament) == true || @tournament.instagram.present? %>
      <div class="mt-3 social">
        <div class="overview-title"><b><%= I18n.t('tournaments.titles.share_tournament') %></b></div>
        <div class="row">
          <% if @tournament.twitter.present? %>
            <div class="col-2">
              <a href="<%= @tournament.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
          <% end %>
          <% if @tournament.facebook.present? %>
            <div class="col-2">
              <a href="<%= @tournament.facebook %>" target="_blank"><i class="fa fa-facebook-square"></i></a>
            </div>
          <% end %>
          <% if @tournament.reddit.present? %>
            <div class="col-2">
              <a href="<%= @tournament.reddit %>" target="_blank"><i class="fa fa-reddit"></i></a>
            </div>
          <% end %>
          <% if @tournament.google.present? %>
            <div class="col-2">
              <a href="<%= @tournament.google %>" target="_blank"><i class="fa fa-google-plus-square"></i></a>
            </div>
          <% end %>
          <% if @tournament.vk.present? %>
            <div class="col-2">
              <a href="<%= @tournament.vk %>" target="_blank"><i class="fa fa-vk"></i></a>
            </div>
          <% end %>
          <% if @tournament.instagram.present? %>
            <div class="col-2">
              <a href="<%= @tournament.instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>