<div class="desktop-resolution">
  <div class="raffles">
    <div class="container">
      <div class="row">
        <% if @current_raffle.present? %>
          <div class="col-md-8 col-sm-8">
            <div class="container mt-3">
              <div class="raffles__title">
                <span class><%= I18n.t('raffles.titles.daily_raffle') %></span>
                <div class="raffles__clear" id="desktoptimer_<%= @current_raffle.id %>"><%= I18n.t('raffles.titles.ends_in') %> <span class="yellow clock"></span></div>
              </div>
              <div class="mt-3 text-center">
                <%= image_tag(@current_raffle.banner.url, :alt => "profile_pic", :class=>"full-width") %>
              </div>
              <div class="mt-3 raffles-content">
                <b><%= @current_raffle.sponsor_name if @current_raffle.sponsor_name.present? %> <%= @current_raffle.title %></b>
                <% if @current_raffle.description.present? %>
                  <div class="raffles__description mt-2"><%= @current_raffle.description.html_safe %></div>
                <% end %>
                <div class="mt-2 raffles__description">
                  <b><%= I18n.t('raffles.titles.need_to_least')%> <span class="yellow"><%= @current_raffle.cost %></span> <%= I18n.t('raffles.titles.enter_ticket') %></b>
                </div>
                <!-- <#% if @closest_raffle_winners.present? && @closest_raffle_winners.first.raffle.prizes.present? %> -->
                <% if @current_raffle.prizes.present? %>
                  <div class="mt-3">
                    <b><%= I18n.t('raffles.titles.prizes').titleize %></b>
                    <div class="mt-2 raffles__description">
                      <%= @current_raffle.prizes.html_safe %>
                    </div>
                  </div>
                <% end %>

                <% if check_social(@current_raffle) == true || @current_raffle.twitch.present? %>
                  <div class="mt-3 test-uppercase">
                    <b><%= @current_raffle.sponsor_name if @current_raffle.sponsor_name.present? %> <%= I18n.t('raffles.titles.social_media').titleize %>:</b>
                    <div class="mt-3 social">
                      <div class="row">
                        <% if @current_raffle.twitter.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
                          </div>
                        <% end %>
                        <% if @current_raffle.facebook.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.facebook %>" target="_blank"><i class="fa fa-facebook-square"></i></a>
                          </div>
                        <% end %>
                        <% if @current_raffle.reddit.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.reddit %>" target="_blank"><i class="fa fa-reddit"></i></a>
                          </div>
                        <% end %>
                        <% if @current_raffle.google.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.google %>" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                          </div>
                        <% end %>
                        <% if @current_raffle.vk.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.vk %>" target="_blank"><i class="fa fa-vk"></i></a>
                          </div>
                        <% end %>
                        <% if @current_raffle.twitch.present? %>
                          <div class="col-md-2 sol-sm-2">
                            <a href="<%= @current_raffle.twitch %>" target="_blank"><i class="fa fa-twitch"></i></a>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if @current_raffle.youtube.present? %>
                  <div class="mt-3">
                    <iframe width="100%" height="250" src="<%= @current_raffle.youtube %>" frameborder="0" allowfullscreen>
                    </iframe>
                  </div>
                <% end %>

                <% if @current_raffle.sponsor_banner.present? %>
                  <div class="mt-3 raffles__sponsor">
                    <%= image_tag (@current_raffle.sponsor_banner.url ) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @current_raffle.present? %>
          <div class="col-md-4 col-sm-4">
        <% else %>
          <div class="col-md-8 col-sm-8 mx-auto">
        <% end %>
          <div class="tickets mt-4">
            <%= image_tag("home/ticket_icon.png")%>
            <div class="container-fluid tickets__content shadow-sm py-4">
              <div class="tickets__title"><b><%= I18n.t('raffles.titles.my_raffle_ticket') %>:</b>
                <div class="tickets__count"><%= current_user.tickets.to_i %></div>
                <% if current_user.last_ticket_claimed.present? %>
                  <% if (current_user.last_ticket_claimed.to_date + 1.day) > Time.now.utc.to_date %>
                    <div class="text-uppercase"><%= I18n.t('raffles.titles.redeemed_ticket').html_safe %></div>
                  <% else %>
                    <div class="mt-2 request_ticket">
                      <a href="javascript:void(0)" class="tickets__daily">
                        <%= I18n.t('raffles.titles.get_my_ticket') %>
                      </a>
                    </div>
                    <div class="mt-2 requested_ticket">
                      <div class="text-uppercase"><%= I18n.t('raffles.titles.redeemed_ticket').html_safe %></div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="px-5 mt-2 request_ticket">
                    <a href="javascript:void(0)" class="tickets__daily mx-5">
                      <%= I18n.t('raffles.titles.get_my_ticket') %>
                    </a>
                  </div>
                  <div class="mt-2 requested_ticket">
                    <div class="text-uppercase"><%= I18n.t('raffles.titles.redeemed_ticket').html_safe %></div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <% if @current_raffle.present? %>
            <%= render partial: "raffles/partials/unsubscribe_raffles"%>
            <%= render partial: "raffles/partials/subscribe_raffles"%>
          <% end %>

          <% if @past_raffles.present? %>
            <div class="mt-4 container-fluid past-raffles shadow-sm">
              <div class="py-4">
                <% if @closest_raffle_winners.present? %>
                  <% if @current_raffle.blank? %>
                    <div style="font-size: 1.3rem"><b><%= I18n.t('raffles.titles.yesterday_raffle')%></b></div>
                  <% else %>
                    <b><%= I18n.t('raffles.titles.yesterday_raffle')%></b>
                  <% end %>
                  <% @closest_raffle_winners.each do |raffle| %>
                    <div class="mt-3">
                      <div class="container past-raffles__block shadow-sm">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 past-raffles__order py-2 px-1">
                            <% if @current_raffle.present? %>
                              <% if raffle['position'].present? %>
                                <% if raffle['position'] == 1 %>
                                  <span class="yellow big-font"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% elsif raffle['position'] == 2 %>
                                  <span class="strong-grey big-font"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% elsif raffle['position'] == 3 %>
                                  <span class="brown big-font"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% else %>
                                  <span class="grey big-font"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% end %>
                              <% end %>
                            <% else %>
                              <% if raffle['position'].present? %>
                                <% if raffle['position'] == 1 %>
                                  <span class="yellow big-font-35"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% elsif raffle['position'] == 2 %>
                                  <span class="strong-grey big-font-35"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% elsif raffle['position'] == 3 %>
                                  <span class="brown big-font-35"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% else %>
                                  <span class="grey big-font-35"><%= raffle['position'] %></span><b><%= raffle['position'].ordinalize.split(raffle['position'].to_s).last %></b>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-10 flex-align-center py-2">
                            <!-- <#%= image_tag("home/photo_ellipse.png", :width=>'20%') %> -->
                            <a href="<%= user_path(raffle.user_id) %>" class="full-width flex-align-center">
                              <% if @current_raffle.present? %>
                                <%= image_tag(User.find(raffle.user_id).avatar.url, :alt => "profile_pic", class: "past-raffle-banner") %>
                              <% else %>
                                <%= image_tag(User.find(raffle.user_id).avatar.url, :alt => "profile_pic", style: "width: 10%; border-radius: 50%") %>
                              <% end %>
                              <div class="d-inline-block ml-3">
                                <% if @current_raffle.present? %>
                                  <b><%= User.find(raffle.user_id).username %></b>
                                <% else %>
                                  <span style="font-size: 1rem"><b><%= User.find(raffle.user_id).username %></b>
                                <% end %>
                                <div class="raffles-block-content">
                                  <%= image_tag("home/small_raffles.png") %>
                                  <span class="pl-1"><%= raffle.prize_brand %> & <%= raffle.prize_name %> <%= I18n.t('homepage.titles.of')%> <%= I18n.t('homepage.titles.the')%> <%= I18n.t('homepage.titles.prize')%></span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <div class="mt-3 text-center">
                  <a href="<%= past_raffles_path %>" class="round-border text-uppercase">
                    <%= I18n.t('raffles.titles.all_past_raffles')%>
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'home/desktop/content_creator' %>
  <%= render partial: 'home/desktop/quotation' %>
</div>

<% if @current_raffle.present? %>
  <input type="hidden" class="current_raffle_id" value="<%= @current_raffle.id %>" />
  <% if @current_raffle.raffle_end_date.present? %>
    <%= local_time(@current_raffle.raffle_end_date, format: "%Y/%m/%d %H:%M:%S" , style: 'display: none',  class: 'desktop_current_raffle_end_time') %>
  <% end %>
<% end %>

<script>
  $(document).ready(function (){
    exist_raffle_end_time = "<%= @current_raffle.present? && @current_raffle.raffle_end_date.present? %>"
    setTimeout(function(){
      if (exist_raffle_end_time == "true") {
        raffle_id = $('.current_raffle_id').val()
        current_raffle_end_time = $('.desktop_current_raffle_end_time').text()
        new countDown({ clock : `#desktoptimer_${raffle_id}`, startTime: current_raffle_end_time }).startTimer();
      }
    }, 1000);
  });
</script>
