<div class="desktop-resolution">
  <div class="row">
    <div class="uploadPhoto profile-background container" style="background-image: url(<%= image_url current_user.cover.url %>); background-size: cover;">
      <div class="back-btn">
        <a href="<%= user_path(current_user) %>" class="back-btn__color"><i class="fa fa-arrow-left"></i></a>
      </div>
      
      <div class="uploadPhoto__box text-center">
        <div class="uploadPhoto__header">
          <span class="uploadPhoto__title"><strong><%= I18n.t('user.edit.titles.photo_upload') %></strong></span>
          <div class="uploadPhoto__btn mt-3">
            <label for="user_cover">
              <%= image_tag("profile/edit_photo_btn.png", srcset: { "profile/edit_photo_btn@2x.png": "2x" }) %>
            </label>
            <%= f.file_field :cover, class: 'd-none' %>
          </div>
        </div>

        <div class="uploadPhoto__panel">
          <div class="mt-3 text-center">(<%= I18n.t('user.edit.titles.recommend_size') %> : 1440px x 360px)</div>
          <div class="mt-3">
            <button type="submit" class="btn btn-default submit-button text-uppercase"><%= I18n.t('button.save_my_picture')%></button>
          </div>
          <div class="cover-message">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="error"></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>