<div class="flex-center mt-5">
  <div class="picks-title font-30">
    <span><%= I18n.t('homepage.titles.desktop.picks') %></span></span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 pr-0">
    <%= image_tag("home/game-1.png", srcset: {"home/game-1@2x.png": "2x"}, :alt => "premium_btn", :class=>"full-width") %>
    <div class="tournemants-main-time">
      <div class="tour-main-time-value">
        <div class="tour-main-time-stats font-12">STARTS IN</div>
        <div class="tour-main-time-counter font-14">00:28:29</div>
      </div>
    </div>
    <div class="tournaments-main-detail mt-1">
      <span class="game-mark font-11">FIFA 20</span>
      <div class="game-description mt-1">
        <span><b>NIKE $500 FIFA Tournament...</b></span>
      </div>
      <div class="game-date font-14">
        <span>Sat, Nov 30th - 9:00 PM EST</span><br>
        <span><b>Slots: 68 / 128</b> +60 waiting</span>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0">
    <div class="tournaments-main-bg flex-center">
      <%= image_tag("home/tournaments-main-1.png", srcset: {"home/tournaments-main-1@2x.png": "2x"}, :alt => "premium_btn", :class=>"full-width") %>
      <div class="tournemants-main-time">
      <div class="tour-main-time-value">
        <div class="tour-main-time-stats font-12">STARTS IN</div>
        <div class="tour-main-time-counter font-14">00:28:29</div>
      </div>
    </div>
    </div>
    <div class="tournaments-main-detail mt-1">
      <span class="game-mark font-11">HEARTHSTONE</span>
      <div class="game-description mt-1">
        <span><b>Here will go the Title</b></span>
      </div>
      <div class="game-date font-14">
        <span>Sat, Nov 30th - 9:00 PM EST</span><br>
        <span><b>Slots: 68 / 128</b></span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 left-game">
        <%= image_tag("home/desktop/game-4.png", :alt => "premium_btn", :class=>"full-width") %>
        <div class="tournemants-main-time">
          <div class="tour-date-mark">
            <div><span class="yellow font-14"><b>1</b></span>st</div>
            <div>Dec</div>
          </div>
        </div>
        <div class="tournaments-main-detail mt-1">
          <span class="game-mark font-11">HEARTHSTONE</span>
          <div class="game-description mt-1">
            <span><b>Here will go the Title</b></span>
          </div>
          <div class="game-date font-14">
            <span>Sat, Nov 30th - 9:00 PM EST</span><br>
            <span><b>Slots: 68 / 128</b></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-game">
        <%= image_tag("home/desktop/game-2.png", :alt => "premium_btn", :class=>"full-width") %>
        <div class="tournemants-main-time">
          <div class="tour-date-mark">
            <div><span class="yellow font-14"><b>1</b></span>st</div>
            <div>Dec</div>
          </div>
        </div>
        <div class="tournaments-main-detail mt-1">
          <span class="game-mark font-11">HEARTHSTONE</span>
          <div class="game-description mt-1">
            <span><b>Here will go the Title</b></span>
          </div>
          <div class="game-date font-14">
            <div>Sat, Nov 30th - 9:00 PM EST</div>
            <div><b>Slots: 68 / 128</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tournaments-main-bg flex-center">
      <%= image_tag("home/tournaments-main-2.png", srcset: {"home/tournaments-main-2@2x.png": "2x"}, :alt => "premium_btn", :class=>"full-width") %>
      <div class="tournemants-main-time">
      <div class="tour-main-time-value">
        <div class="tour-main-time-stats font-12">STARTS IN</div>
        <div class="tour-main-time-counter font-14">00:28:29</div>
      </div>
    </div>
    </div>
    <div class="tournaments-main-detail mt-1">
      <span class="game-mark font-11">HEARTHSTONE</span>
      <div class="game-description mt-1">
        <span><b>Here will go the Title</b></span>
      </div>
      <div class="game-date font-14">
        <div>Sat, Nov 30th - 9:00 PM EST</div>
        <div><b>Slots: 68 / 128</b></div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 left-game">
        <%= image_tag("home/desktop/game-4.png", :alt => "premium_btn", :class=>"full-width") %>
        <div class="tournemants-main-time">
          <div class="tour-date-mark">
            <div><span class="yellow font-14"><b>1</b></span>st</div>
            <div>Dec</div>
          </div>
        </div>
        <div class="tournaments-main-detail mt-1">
          <span class="game-mark font-11">HEARTHSTONE</span>
          <div class="game-description mt-1">
            <span><b>Here will go the Title</b></span>
          </div>
          <div class="game-date font-14">
            <div>Sat, Nov 30th - 9:00 PM EST</div>
            <div><b>Slots: 68 / 128</b></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-game">
        <%= image_tag("home/desktop/game-2.png", :alt => "premium_btn", :class=>"full-width") %>
        <div class="tournemants-main-time">
          <div class="tour-date-mark">
            <div><span class="yellow font-14"><b>1</b></span>st</div>
            <div>Dec</div>
          </div>
        </div>
        <div class="tournaments-main-detail mt-1">
          <span class="game-mark font-11">HEARTHSTONE</span>
          <div class="game-description mt-1">
            <span><b>Here will go the Title</b></span>
          </div>
          <div class="game-date font-14">
            <span>Sat, Nov 30th - 9:00 PM EST</span><br>
            <span><b>Slots: 68 / 128</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-4 text-center">
  <%= link_to "<span class='round-border text-uppercase font-14'>Browse All Tournaments</span>".html_safe, tournaments_path %>
</div>