<div class="col-md-12 mt-4 flex-center">
  <div class="overlay-closebtn">
    <a href="javascript:void(0)" class="d-inline-block align-bottom mobile-menu-icon" onclick="closeNav()">
      <%= image_tag("home/Menu_close_icon.png", :alt => "Menu_close") %>
    </a>
  </div>
  <div class="flex-center">
    <div class="mr-2">
      <p class="profile-nickname"><%= current_user.username %></p>
      <a href="<%= user_path(current_user) %>" style="padding: unset;">
        <p class="profile-title"><%= I18n.t('homepage.titles.view')%> <%= I18n.t('homepage.header.titles.my_profile') %></p>
      </a>
    </div>
    <!-- <#%= image_tag("home/Ellipse_background.png", :alt => "Ellipse", :class=>"d-inline-block") %> -->
    <div class="logo-avatar" style="background-image: url(<%= image_url(current_user.avatar.url) %>)"></div>
  </div>
</div>

<div class="col-md-12 mt-4">
  <%= link_to I18n.t('homepage.footer.titles.home').capitalize, root_path %>
  <%= link_to I18n.t('homepage.footer.titles.tournaments'), tournaments_path %>
  <a href="<%= raffles_path %>"><%= I18n.t('homepage.titles.raffle').capitalize %></a>
  <%= link_to I18n.t('homepage.titles.calendar').capitalize, calendars_path %>
  <a href="<%= friends_users_path(current_user) %>"><%= I18n.t('friends.titles.friend_list') %></a>
  <a href="<%= wallets_path %>"><%= I18n.t('homepage.titles.wallet').capitalize %></a>
  <a href="<%= get_premium_path %>"><%= I18n.t('homepage.titles.overlay_premium').html_safe %></a>
  <a href="<%= about_path %>"><%= I18n.t('homepage.footer.titles.about') %></a>
  <a href="<%= jobs_path %>"><%= I18n.t('homepage.footer.titles.jobs') %></a>
</div>
<div class="col-md-12 mt-3">
  <a href="<%= user_path(current_user) %>"><%= I18n.t('homepage.titles.profile').capitalize %></a>
  <a href="#"><%= I18n.t('homepage.titles.settings').capitalize %></a>
  <a href="#"><%= I18n.t('homepage.footer.titles.help') %></a>
  <%= link_to(I18n.t('homepage.header.titles.logout'), destroy_user_session_path, method: :delete) %>
</div>
