<div class="form">
  <%= image_tag(attachments['logo.png'].url) %>
  <div class="form-group mb-1">
    <h2 class='h3 strong'><%= I18n.t('homepage.titles.hi').capitalize %> <%= I18n.t('homepage.titles.there') %>,</h2>
    <h2 class="strong"><%= I18n.t('mail.titles.thank_join_vctry') %>!</h2>
    <h3><%= I18n.t('mail.titles.confirm_email') %></h3>
    <div class="mt-1">
      <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>">
        <button type="button" class="btn btn-primary transition-3d-hover confirm-btn"><%= I18n.t('mail.titles.confirm_email_address') %></button>
      </a>
    </div>
    <div class="mt-1">
      <div class="strong"><%= I18n.t('mail.titles.button_not_working')%>?</div>
      <div><%= I18n.t('mail.titles.past_browser')%>:</div>
      <div class="yellow"><%= confirmation_url(@resource, confirmation_token: @token)%></div>
    </div>
  </div>
  
  <div class="footer-group">
    <div><%= I18n.t('mail.titles.sent_email') %> <span class="yellow"><%= @email %></span> <%= I18n.t('homepage.titles.by')%></div>
    <div class="mt-1">
      <div><%= I18n.t('mail.titles.vctry_esports') %> (haftungsbeschränkt)</div>
      <div><%= I18n.t('mail.titles.street') %></div>
      <div><%= I18n.t('mail.titles.street_number') %></div>
      <div><%= I18n.t('homepage.titles.germany').capitalize %></div>
    </div>
  </div>
</div>
